@media(min-width: 1024px){

  .container-banner{
    display:flex;
    /* align-items: center; */
    /* align-items: center; */
    justify-content: center;
  }
  
  .logo-1{    
    width: 250px;
    /* justify-content: center; */
    /* align-self: center; */
  }
  
  .container-services{
    display: flex;
    /* margin-bottom: 1599 px; */
  }
  
  
  .container-footer{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%
  }
  
  .container-partners{    
    background-color: silver;
    align-items: flex-end;
  }
  .partners-title{
    align-self: flex-start;    
  }
  .partners{
    display: flex;
    justify-content: space-around;
    
  }
  .partners1{
    align-self: flex-start;
    color:#5440d8; 
    font-weight: 'bold'; 
    font-family : PT Mono Brush; 
    font-size:120px; 
    text-decoration: none;
    margin-top: 30px;
  }
  .partners2{
    width: 450px;
    margin-top: 45px;
  }
  .partners3{
    width: 250px;   
  }
}

@media(min-width:750px){
  .container-banner{
    display:flex;
    /* align-items: center; */
    /* align-items: center; */
    justify-content: center;
  }

  .logo-1{    
    width: 450px;
    height: 450px;
    /* justify-content: center; */
    /* align-self: center; */
  }
  
  .container-services{
    display: flex;
    /* margin-bottom: 1599 px; */
  }
  

  .container-footer{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%
  }

  .container-partners{    
    background-color: silver;
    align-items: flex-end;
  }
  .partners-title{
    align-self: flex-start;    
  }
  .partners{
    display: flex;
    justify-content: space-around;
    
  }
  .partners1{
    align-self: flex-start;
    color:#5440d8; 
    font-weight: 'bold'; 
    font-family : PT Mono Brush; 
    font-size:120px; 
    text-decoration: none;
    
  }
  .partners2{
    width: 250px;
  }
  .partners3{
    width: 450px; 
    margin-bottom: 10px;   
  }
}



  .container-banner{
    display:flex;
    justify-content: center;
  }

  .logo-1{  
    width: 250px;
    height: 250px;
    /* justify-content: center; */
    /* align-self: center; */
  }

  .container-services{
    display: flex;
    /* margin-bottom: 1599 px; */
  }


  .container-footer{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%
  }

  .container-partners{    
    background-color: silver;
    align-items: flex-end;
  }
  .partners-title{
    align-self: flex-start;    
    font-family: Brush Script MT; 
    font-size:20px;
  }
  .partners{
    display: flex;
    justify-content: space-around;
    
  }
  .partners1{
    align-self: flex-start;
    color:#5440d8; 
    font-weight: bold; 
    font-family : PT Mono; 
    font-size:125px; 
    text-decoration: none;
    
  }
  .partners2{
    width: 500px;
    margin-bottom: 50px;     
  }
  .partners3{
    width: 200px;    
  }
